node_modules
.next
out
dist
coverage
.DS_Store
*.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite3

dev.db
*.db
*.db-journal
tsconfig.tsbuildinfo
